body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.login {
  display: grid;
  place-items: center;
  height: 50vh;
}

.login > a {
  padding: 20px;
  border-radius: 99px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  background-color: #1db954;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

/* Details */

span.caret {
  position: absolute;
  left: 90%;
  top: 45%;
}

label {
  padding-top: 5px;
}

.form-label {
  padding-left: 0px !important;
}

img {
  width: 80%;
  height: 80%;
}

.btn-success {
  background-color: #3b7d4a !important;
}

.btn-success:hover {
  background-color: #4daf64 !important;
}

img.track {
  border: 1px solid #8a8a8a;
}

.App {
  text-align: center;
}
